
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 25px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.title {
    text-align: center;
    text-decoration: none;
}
h1{
    color: transparent;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50px;
    font-family: "Poppins",sans-serif;
    font-size: 50px;
    letter-spacing: 0.05em;
    background: linear-gradient(
        #fd004c 16.7%,
        #fe9000 16.7%,
        #fe9000 33.4%,
        #fff020 33.4%,
        #fff020 50.1%,
        #3edf4b 50.1%,
        #3edf4b 66.8%,
        #3363ff 66.8%,
        #3363ff 83.5%,
        #b102b7 83.5%
    );
    -webkit-text-stroke: 0.04em #ffffff;
    -webkit-background-clip: text;
            background-clip: text;
    line-height: 1.1em;
    animation: rainbow 100s linear infinite;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@keyframes rainbow{
    100%{
        background-position: 0 30em;
    }
}
.bars{
    margin-left:30px;
    margin-right:20px;
    background-color: yellow;
    border: solid 5px ;
    border-radius: 90% ;
    padding:6px;
    }
.bar{
    width:auto;
    height: 30px;
    margin-top: 20px;
    text-align: center;
    background-color: yellow;
    
}
.bar-text{
    color:black;
    margin-left: 20px;
    display:inline;
    border: solid 5px red;
    
}
.ME{
    border: solid 5px orange;
}
.contact{
    border: solid 5px blue;
}
.sick{
    border: solid 5px yellow;
}
.pesi{
    border: solid 5px green;
}

.bar-text a:link{
    text-decoration: none;
    color:black;
}
.bar-text a:visited{
    text-decoration: none;
    color:black;
}
#hom{
    text-align: center;
}
#hoim{
    width:50%;
}
body{
    margin-top:30px;
    background-image: url(https://i.imgur.com/IbBlIFv.jpg);
    font-family: 'Comics Sans MS','Comic Sans',cursive;    
    background-color: #050310;
}
h2{
    background-color: #fff020;
width:50%;
text-align: center;
font-size: large;
padding:5px;
}
.headd{
    margin-left:32%;
}
.abimg{
    text-align: center;
}
#me{
    border:solid 20px #964B00;
    width:25%;
    border-radius:50%
}
.abcon {
text-align: center;
font-size:20px;

}
.abcon span{
background-color: #fff020;
}
.logos{
    margin-top: 50px;
text-align: center;
}
#git{
width:20%;
text-align: center;
animation: rainbow 100s linear infinite;
background-color: transparent;
}
#gm{
width:20%;
text-align: center;
background-color: transparent;
animation: rainbow 100s linear infinite;
}
#conr{
    text-align: center;
    font-size: medium;
}
#conr span{
    background-color: #fff020;
}
.slides{
    text-align: center;
}
.slides span{
    background-color: #fff020;
}

  .all {
    margin-top: 40px;
    text-align:center;
}

.what {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #f1f1f1
    
}
.container {
    margin: 0 auto;
    width: 400px;
}

#game {
    width: 305px;
    height: 305px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#game > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#game > li.x {
    font-size: 30px;
    color: black;
}

#game > li.o {
    font-size: 30px;
    color: black;
}



#game > li:active {
    width: 100px;
    height: 100px;
    border: 0;
}


#whos-turn > span,
#game-messages > span {
    display: none;
}

#whos-turn.x span.x,
#whos-turn.o span.o, 
#game-messages.player-x-win > span.player-x-win, 
#game-messages.player-o-win > span.player-o-win,
#game-messages.draw > span.draw {
    display: block;
    margin-top: 10px;
}

#reset-game {
    text-align: center;
        border: none;
        padding: 0.6em 1.2em;
        background: #000080;
        color: white;
        font-size: 1em;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        display: inline-block;
        margin: 3px 2px;
        border-radius: 2px;
}
#calc{
    display: block;
margin-left: auto;
margin-right: auto;
}
#text2 {
    text-align: center;
    font-size: 20px;
    padding:5px;
}
#text2 span{
    text-align: center;
    background-color: yellow;
    font-size: 20px;
}
#text3{
    text-align: center;
    background-color: yellow;
    font-size: 30px;
    padding:5px;
}
#mug{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}