body{
    background-image:radial-gradient(red,orange,purple,yellow,purple,green,red,blue,yellow,indigo,violet);
    font-family:'Comic Sans MS', 'Comic Sans', cursive; 
}
.title{
    margin-left:auto;
    margin-right:auto;
    width:60%;
    display:block;
    background-color:yellow;
    border:solid 5px;
}
.bar{
    width:auto;
    height: 20px;
    text-align: center;
    background-color: yellow;
}
.bar-text{
    color:black;
    margin-left: 20px;
    display:inline;
}
.bar-text a:link{
    text-decoration: none;
    color:black;
}